.pyc
egg-info
*.pyc

medialog.gabriel/medialog.gabriel.egg-info/not-zip-safe
medialog.gabriel/medialog.gabriel.egg-*
medialog.gabriel/docs/.DS_Store

medialog.gabriel/.DS_Store

medialog.gabriel/medialog/.DS_Store

medialog.gabriel/medialog/gabriel/browser/.DS_Store

medialog.gabriel/medialog/gabriel/.DS_Store

medialog.gabriel/medialog/gabriel/profiles/.DS_Store

.DS_Store
